<template>
    <div>
        <v-toolbar color="indigo" dark fixed app>
            <v-toolbar-title>Application</v-toolbar-title>
        </v-toolbar>
    </div>
</template>

<script>
export default {
  name: 'Header',
  data: () => ({
    drawer: true
  })
};
</script>
