<template>
    <div>
        <v-dialog v-model="openEditModal" max-width="500px" persistent>
            <v-card>
                <v-card-title>
                    <span class="headline">Edit Provider</span>
                </v-card-title>

                <v-card-text>
                    <v-container>
                        <v-form ref="form" v-model="valid">
                            <v-flex xs12 sm12 md12>
                                <v-text-field :rules="[v => !!v || 'Name is required']" v-model="editedItem.name" label="Name"></v-text-field>
                            </v-flex>
                        </v-form>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="cancel">Cancel</v-btn>
                    <v-btn color="blue darken-1" flat :disabled="!valid" @click.native="edit(editedItem)">Edit</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-data-table
            :headers="headers"
            :items="providers"
            v-model="selected"
            hide-actions
            class="elevation-1"
            select-all
            item-key="_id"
        >
            <template slot="items" slot-scope="props">
                <td>
                    <v-checkbox
                            @change="onSelect"
                            v-model="props.selected"
                            primary
                            hide-details
                    ></v-checkbox>
                </td>
                <td>{{ props.item._id }}</td>
                <td>{{ props.item.name }}</td>
                <td class="justify-center layout px-0">
                    <v-icon
                            small
                            class="mr-2"
                            @click="editItem(props.item)">
                        edit
                    </v-icon>
                    <v-icon
                            small
                            @click="deleteItem(props.item._id)"
                    >
                        delete
                    </v-icon>
                </td>
            </template>
        </v-data-table>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Providers',
  mounted () {
  	this.$store.dispatch('providers/get');
  },
  props: [
  	'onSelection',
    'items'
  ],
  data () {
  	return {
      valid: false,
      openEditModal: false,
      selected: [],
      editedItem: {
      	id: '',
      	name: ''
      },
      headers: [
        { text: 'ID', align: 'center', value: '_id' },
        {
          text: 'Name',
          align: 'center',
          sortable: true,
          value: 'name'
        }
      ]
    };
  },
  watch: {
  	items (val) {
      this.selected = val;
      this.onSelect();
    }
  },
  computed: {
    ...mapGetters({
      providers: 'providers/get'
    })
  },
  methods: {
    async deleteItem (id) {
      confirm('Are you sure you want to delete this item?') &&
      await this.$store.dispatch('providers/remove', id);
      this.$store.dispatch('clients/get');
    },
    onSelect () {
      this.onSelection(this.selected);
    },
    async edit (value) {
      this.openEditModal = false;
      this.editedItem = {
      	id: '',
        name: ''
      };
      const payload = {
      	id: value._id,
        data: value
      };
      await this.$store.dispatch('providers/update', payload);
      this.$store.dispatch('clients/get');
    },
    editItem (item) {
      this.editedItem = Object.assign({}, item);
      this.openEditModal = true;
    }
  }
};
</script>
