<template>
    <v-toolbar flat color="white">
        <v-toolbar-title>Clients</v-toolbar-title>
        <v-divider
                class="mx-2"
                inset
                vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px" persistent>
            <v-btn slot="activator" color="primary" dark class="mb-2">New Client</v-btn>
            <v-card>
                <v-card-title>
                    <span class="headline">New Client</span>
                </v-card-title>

                <v-card-text>
                    <v-container>
                        <v-form ref="form" v-model="valid">
                            <v-flex xs12 sm12 md12>
                                <v-text-field :rules="[v => !!v || 'Name is required']" v-model="editedItem.name" label="Name"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-text-field :rules="emailRules" v-model="editedItem.email" label="Email"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-text-field type="number" :rules="phoneRules" v-model="editedItem.phone" label="Phone"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <v-flex xs12 sm12 md12>
                                            <v-form ref="providerForm" v-model="isProviderValid">
                                                <v-layout wrap>
                                                <v-flex xs8 sm8 md8>
                                                    <v-text-field v-model="provider.name" :rules="[v => !!v || 'Name is required']" label="Providers"></v-text-field>
                                                </v-flex>
                                                <v-flex xs4 sm4 md4>
                                                    <v-btn color="primary" :disabled="!isProviderValid" @click="addProvider">Add</v-btn>
                                                </v-flex>
                                                </v-layout>
                                            </v-form>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <Providers :items="editedItem.providers" :on-selection="onSelection"/>
                            </v-flex>
                        </v-form>
                    </v-container>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="cancel">Cancel</v-btn>
                    <v-btn color="blue darken-1" flat :disabled="!valid" @click.native="submit(editedItem)">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-toolbar>
</template>

<script>
import Providers from './Providers';
export default {
  name: 'Toolbar',
  components: {
  	Providers
  },
  props: {
    editedItem: {
      type: Object,
      default: function () {
        return {};
      }
    },
    close: Function,
    save: Function,
    open: Boolean
  },
  data () {
    return {
      dialog: false,
      isProviderValid: false,
      provider: {
      	name: ''
      },
      show: this.dialog,
      valid: false,
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'E-mail must be valid',
      ],
      phoneRules: [
        v => /\D?(\d{3})\D?\D?(\d{3})\D?(\d{4})$/.test(v) || 'Phone must be valid (37498112233)'
      ]
    };
  },
  watch: {
    open (value) {
      this.dialog = value;
    }
  },
  methods: {
    submit (data) {
      if (this.$refs.form.validate()) {
        this.dialog = false;
        this.save(data);
      }
    },
    cancel () {
      this.dialog = false;
      this.close();
    },
    addProvider () {
      if (this.$refs.providerForm.validate()) {
        this.$store.dispatch('providers/save', this.provider);
        this.provider = {
          name: ''
        };
      }
    },
    onSelection (selected) {
      this.editedItem.providers = selected;
    }
  }
};
</script>

<style scoped>

</style>
