<template>
  <div id="app">
  <v-app id="inspire">
    <Header/>
    <v-content>
      <v-container fluid>
        <Clients/>
      </v-container>
    </v-content>
    <Footer/>
  </v-app>
</div>
</template>

<script>
import Footer from './components/layouts/Footer';
import Header from './components/layouts/Header';

import Clients from './views/Clients';

export default {
  name: 'App',
  components: {
    Footer,
    Header,
    Clients
  }
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
