<template>
  <div>
    <Toolbar
        :open="dialog"
        :close="close"
        :editedItem="editedItem"
        :save="save"
    />
    <v-data-table
        :headers="headers"
        :items="clients"
        class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item._id }}</td>
        <td>{{ props.item.name }}</td>
        <td class="text-xs-right">{{ props.item.email }}</td>
        <td class="text-xs-right">{{ props.item.phone }}</td>
        <td class="text-xs-right">
            <template v-for="provider in props.item.providers">
                | {{provider.name}} |
            </template>
        </td>
        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item._id)">
            edit
          </v-icon>
          <v-icon
            small
            @click="deleteItem(props.item._id)"
          >
            delete
          </v-icon>
        </td>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import Toolbar from '../components/clients/Toolbar';
import { mapGetters } from 'vuex';

export default {
  name: 'Clients',
  components: {
    Toolbar
  },
  data () {
    return {
      headers: [
        { text: 'ID', align: 'center', value: '_id' },
        {
          text: 'Name',
          align: 'center',
          sortable: true,
          value: 'name'
        },
        { text: 'Email', align: 'center', value: 'email' },
        { text: 'Phone', align: 'center', value: 'phone' },
        { text: 'Providers', align: 'center', value: 'providers' }
      ],
      dialog: null,
      editedIndex: -1,
      editedItem: {
        name: '',
        email: '',
        phone: '',
        providers: []
      },
      defaultItem: {
        name: '',
        email: '',
        phone: '',
        providers: []
      }
    };
  },
  mounted: function () {
    this.$store.dispatch('clients/get');
  },
  computed: {
    ...mapGetters({
      clients: 'clients/get'
    })
  },
  methods: {
    editItem (id) {
      this.editedIndex = this.clients.findIndex(client => client._id === id);
      this.editedItem = Object.assign({}, this.clients[this.editedIndex]);
      this.dialog = true;
    },

    deleteItem (id) {
      confirm('Are you sure you want to delete this item?') &&
        this.$store.dispatch('clients/remove', id);
    },

    close () {
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedIndex = -1;
      this.dialog = false;
    },

    save (data) {
      if (this.editedIndex > -1) {
        const payload = {
          id: this.editedItem._id,
          data: this.editedItem
        };
        this.$store.dispatch('clients/update', payload);
      } else {
        this.$store.dispatch('clients/save', data);
      }
      this.close();
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
